:root {
  --blue: #0b3c74;
  --blue2: #114f9a;
  --gold: #d4af6a;
  --bg: #f4f6f9;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(var(--blue), var(--blue2));
  font-family:
    Segoe UI,
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.dark {
  background: #0f172a;
}

.card {
  background: white;
  width: 360px;
  padding: 30px;
  border-radius: 18px;
}

body.dark .card {
  background: #1e293b;
  color: white;
}

h2 {
  text-align: center;
  color: var(--gold);
}

input,
select {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  background: transparent;
  color: inherit;
}

button {
  width: 100%;
  padding: 12px;
  background: var(--gold);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.link {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
}

footer {
  margin-top: 25px;
  text-align: center;
  font-size: 13px;
}

footer a {
  margin: 0 6px;
  color: var(--blue);
  text-decoration: none;
}

/* === TOGGLE MODE GELAP / TERANG === */
.toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.theme-switch {
  position: relative;
  width: 42px;
  height: 22px;
  background: #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.theme-switch::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

body.dark .theme-switch {
  background: var(--gold);
}

body.dark .theme-switch::after {
  left: 22px;
}
